.agent-dashboard {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.dashboard-title {
  text-align: center;
  color:#1a237e;
  margin-bottom: 30px;
  margin-top:70px;
  font-size: 28px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 10px;
}

.donation-card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
  padding: 20px;
  transition: transform 0.3s ease;
  border-left: 6px solid #1a237e;
}

.donation-card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 15px ;
  font-weight:bold;
  color: #1a237e;
  margin-bottom: 20px ;
  text-align:center;

}

.card-detail {
  font-size: 15px;
  margin: 4px 0;
  color: #333;
}

.card-label {
  font-weight: 500;
  color: #555;
}
